:host {
  display: block;
  .product{
    padding: 5px;
  }
  .red-font{
    color: red;
  }
  .green-font{
    color: green;
  }
  .pe-element{
    border: 1px white;
    padding: 5px;
    font-size: 14;
  }
}
