<div class="search-bar-container">
<div class="button-container">
  <button class="search-button" (click)="search(buttonTitle)" *ngFor="let buttonTitle of searchButtons" mat-flat-button >{{buttonTitle}}</button>
</div>
<mat-form-field class="search-field" style="padding: 10px; color: white;">
  <mat-icon matPrefix>search</mat-icon>
  <input type="text" [(ngModel)]="searchKey"  matInput style="color: white; padding: 5px;">
  <mat-icon matSuffix (click)="cleanSearchBox()">close</mat-icon>
</mat-form-field>


</div>

