.container{
  //border: 0.5rem solid green;
  min-height: 100%;
  width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  background: #1E2222;
}

* {
  font-style: normal;
  font-size: 16px;
  font-family: "Amazon Ember Display";
  color: white;
}
